In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Country</th>
      <th>Price in US Dollars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-01-01</td>
      <td>Argentina</td>
      <td>2.39</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-01-01</td>
      <td>Australia</td>
      <td>3.74</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-01-01</td>
      <td>Brazil</td>
      <td>3.35</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

# .set_index() method

In [3]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Country</th>
      <th>Price in US Dollars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-01-01</td>
      <td>Argentina</td>
      <td>2.39</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-01-01</td>
      <td>Australia</td>
      <td>3.74</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-01-01</td>
      <td>Brazil</td>
      <td>3.35</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
bigmac.set_index(keys=["Date", "Country"], inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [20]:
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [21]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [22]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

# .get_level_values() method

In [4]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace=True) # faster when sorted
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Price in US Dollars</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2010-01-01</th>
      <th>Argentina</th>
      <td>1.84</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>3.98</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>4.76</td>
    </tr>
  </tbody>
</table>
</div>

In [31]:
bigmac.index.get_level_values(0)
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

# .set_names() method

In [5]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace=True) # faster when sorted
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Price in US Dollars</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2010-01-01</th>
      <th>Argentina</th>
      <td>1.84</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>3.98</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>4.76</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
bigmac.index.set_names(["Day", "Location"], inplace=True)
bigmac.head(3)

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

# .sort_index() method

In [6]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace=True) # faster when sorted
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Price in US Dollars</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2010-01-01</th>
      <th>Argentina</th>
      <td>1.84</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>3.98</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>4.76</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
bigmac.sort_index(ascending=[True, False], inplace=True)# sort first col in ascending and second col in descending
bigmac.head(3)

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83

# extract rows from a MultiIndex dataframe

In [7]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace=True) # faster when sorted
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Price in US Dollars</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2010-01-01</th>
      <th>Argentina</th>
      <td>1.84</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>3.98</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>4.76</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
bigmac.loc[("2010-01-01", "Brazil"), "Price in US Dollars"]

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

In [49]:
bigmac.loc[("2015-07-01", "Brazil"), "Price in US Dollars"]

Date        Country
2015-07-01  Brazil     4.28
Name: Price in US Dollars, dtype: float64

In [51]:
bigmac.ix[("2016-01-01", "Russia"), "Price in US Dollars"]

/Users/ninja/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1.53

In [56]:
bigmac.loc[("2016-01-01", "Brazil") : ("2016-01-01", "Estonia")] # extracting multiple rows

                           Price in US Dollars
Date       Country
2016-01-01 Brazil                         3.35
           Britain                        4.22
           Canada                         4.14
           Chile                          2.94
           China                          2.68
           Colombia                       2.43
           Costa Rica                     4.02
           Czech Republic                 2.98
           Denmark                        4.32
           Egypt                          2.16
           Estonia                        3.23

# the .transpose() method

In [8]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace=True) # faster when sorted
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Price in US Dollars</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2010-01-01</th>
      <th>Argentina</th>
      <td>1.84</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>3.98</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>4.76</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
bigmac = bigmac.transpose()
bigmac.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Date</th>
      <th colspan="10" halign="left">2010-01-01</th>
      <th>...</th>
      <th colspan="10" halign="left">2016-01-01</th>
    </tr>
    <tr>
      <th>Country</th>
      <th>Argentina</th>
      <th>Australia</th>
      <th>Brazil</th>
      <th>Britain</th>
      <th>Canada</th>
      <th>Chile</th>
      <th>China</th>
      <th>Colombia</th>
      <th>Costa Rica</th>
      <th>Czech Republic</th>
      <th>...</th>
      <th>Switzerland</th>
      <th>Taiwan</th>
      <th>Thailand</th>
      <th>Turkey</th>
      <th>UAE</th>
      <th>Ukraine</th>
      <th>United States</th>
      <th>Uruguay</th>
      <th>Venezuela</th>
      <th>Vietnam</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Price in US Dollars</th>
      <td>1.84</td>
      <td>3.98</td>
      <td>4.76</td>
      <td>3.67</td>
      <td>3.97</td>
      <td>3.18</td>
      <td>1.83</td>
      <td>3.91</td>
      <td>3.52</td>
      <td>3.71</td>
      <td>...</td>
      <td>6.44</td>
      <td>2.08</td>
      <td>3.09</td>
      <td>3.41</td>
      <td>3.54</td>
      <td>1.54</td>
      <td>4.93</td>
      <td>3.74</td>
      <td>0.66</td>
      <td>2.67</td>
    </tr>
  </tbody>
</table>
<p>1 rows × 652 columns</p>
</div>

In [64]:
bigmac.ix["Price in US Dollars", ("2016-01-01", "Denmark")]

/Users/ninja/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

4.32

# swaplevel() method

In [10]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace=True) # faster when sorted
bigmac.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Price in US Dollars</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2010-01-01</th>
      <th>Argentina</th>
      <td>1.84</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>3.98</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>4.76</td>
    </tr>
  </tbody>
</table>
</div>

In [67]:
bigmac.swaplevel().head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

# .stack() method

In [11]:
world = pd.read_csv("worldstats.csv", index_col=["country", "year"])
world.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Population</th>
      <th>GDP</th>
    </tr>
    <tr>
      <th>country</th>
      <th>year</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">Arab World</th>
      <th>2015</th>
      <td>392022276.0</td>
      <td>2.530102e+12</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>384222592.0</td>
      <td>2.873600e+12</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>376504253.0</td>
      <td>2.846994e+12</td>
    </tr>
  </tbody>
</table>
</div>

In [72]:
world.stack().to_frame()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
                GDP         2.846994e+12
           2012 Population  3.688026e+08
                GDP         2.773270e+12
           2011 Population  3.610318e+08
                GDP         2.497945e+12
           2010 Population  3.531122e+08
                GDP         2.103825e+12
           2009 Population  3.450542e+08
                GDP         1.798878e+12
           2008 Population  3.368865e+08
                GDP         2.081343e+12
           2007 Population  3.287666e+08
                GDP         1.641666e+12
           2006 Population  3.209067e+08
                GDP         1.404190e+12
           2005 Population  3.134309e+08
                GDP         1.184735e+12
           2004 Population  3.063874e+08
                GDP         9.639180e+11
           2003 Population  2.997320e+08
                GDP         8.218702e+11
           2002 Population  2.934026e+08
                GDP         7.279939e+11
           2001 Population  2.872918e+08
                GDP         7.221506e+11
...                                  ...
Zimbabwe   1974 Population  5.967861e+06
                GDP         3.982161e+09
           1973 Population  5.768382e+06
                GDP         3.309354e+09
           1972 Population  5.573312e+06
                GDP         2.677729e+09
           1971 Population  5.385342e+06
                GDP         2.178716e+09
           1970 Population  5.206311e+06
                GDP         1.884206e+09
           1969 Population  5.036321e+06
                GDP         1.747999e+09
           1968 Population  4.874113e+06
                GDP         1.479600e+09
           1967 Population  4.718612e+06
                GDP         1.397002e+09
           1966 Population  4.568320e+06
                GDP         1.281750e+09
           1965 Population  4.422132e+06
                GDP         1.311436e+09
           1964 Population  4.279561e+06
                GDP         1.217138e+09
           1963 Population  4.140804e+06
                GDP         1.159512e+09
           1962 Population  4.006262e+06
                GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]

# .unstack() method

In [14]:
world = pd.read_csv("worldstats.csv", index_col=["country", "year"])
world.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Population</th>
      <th>GDP</th>
    </tr>
    <tr>
      <th>country</th>
      <th>year</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">Arab World</th>
      <th>2015</th>
      <td>392022276.0</td>
      <td>2.530102e+12</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>384222592.0</td>
      <td>2.873600e+12</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>376504253.0</td>
      <td>2.846994e+12</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
s = world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [16]:
s.unstack().unstack().unstack()

            year  country
Population  1960  Afghanistan               8.994793e+06
                  Albania                            NaN
                  Algeria                   1.112489e+07
                  Andorra                            NaN
                  Angola                             NaN
                  Antigua and Barbuda                NaN
                  Arab World                         NaN
                  Argentina                          NaN
                  Armenia                            NaN
                  Aruba                              NaN
                  Australia                 1.027648e+07
                  Austria                   7.047539e+06
                  Azerbaijan                         NaN
                  Bahamas, The              1.095260e+05
                  Bahrain                            NaN
                  Bangladesh                4.820070e+07
                  Barbados                           NaN
                  Belarus                            NaN
                  Belgium                   9.153489e+06
                  Belize                    9.206800e+04
                  Benin                     2.431620e+06
                  Bermuda                   4.440000e+04
                  Bhutan                             NaN
                  Bolivia                   3.693451e+06
                  Bosnia and Herzegovina             NaN
                  Botswana                  5.240290e+05
                  Brazil                    7.249358e+07
                  Brunei Darussalam                  NaN
                  Bulgaria                           NaN
                  Burkina Faso              4.829291e+06
                                                ...
GDP         2015  Switzerland               6.647375e+11
                  Syrian Arab Republic               NaN
                  Tajikistan                7.853450e+09
                  Tanzania                  4.489539e+10
                  Thailand                  3.952816e+11
                  Timor-Leste               1.412378e+09
                  Togo                      4.002724e+09
                  Tonga                              NaN
                  Trinidad and Tobago       2.780575e+10
                  Tunisia                   4.301509e+10
                  Turkey                    7.182211e+11
                  Turkmenistan              3.733423e+10
                  Tuvalu                             NaN
                  Uganda                    2.636924e+10
                  Ukraine                   9.061502e+10
                  United Arab Emirates      3.702927e+11
                  United Kingdom            2.848755e+12
                  United States             1.794700e+13
                  Upper middle income       1.973288e+13
                  Uruguay                   5.344270e+10
                  Uzbekistan                6.673280e+10
                  Vanuatu                            NaN
                  Venezuela, RB                      NaN
                  Vietnam                   1.935994e+11
                  Virgin Islands (U.S.)              NaN
                  West Bank and Gaza        1.267740e+10
                  World                     7.343364e+13
                  Yemen, Rep.                        NaN
                  Zambia                    2.120156e+10
                  Zimbabwe                  1.389294e+10
Length: 28224, dtype: float64

In [17]:
s = world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [18]:
s.unstack(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>year</th>
      <th>1960</th>
      <th>1961</th>
      <th>1962</th>
      <th>1963</th>
      <th>1964</th>
      <th>1965</th>
      <th>1966</th>
      <th>1967</th>
      <th>1968</th>
      <th>1969</th>
      <th>...</th>
      <th>2006</th>
      <th>2007</th>
      <th>2008</th>
      <th>2009</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
    </tr>
    <tr>
      <th>country</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">Afghanistan</th>
      <th>Population</th>
      <td>8.994793e+06</td>
      <td>9.164945e+06</td>
      <td>9.343772e+06</td>
      <td>9.531555e+06</td>
      <td>9.728645e+06</td>
      <td>9.935358e+06</td>
      <td>1.014884e+07</td>
      <td>1.036860e+07</td>
      <td>1.059979e+07</td>
      <td>1.084951e+07</td>
      <td>...</td>
      <td>2.518362e+07</td>
      <td>2.587754e+07</td>
      <td>2.652874e+07</td>
      <td>2.720729e+07</td>
      <td>2.796221e+07</td>
      <td>2.880917e+07</td>
      <td>2.972680e+07</td>
      <td>3.068250e+07</td>
      <td>3.162751e+07</td>
      <td>3.252656e+07</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>5.377778e+08</td>
      <td>5.488889e+08</td>
      <td>5.466667e+08</td>
      <td>7.511112e+08</td>
      <td>8.000000e+08</td>
      <td>1.006667e+09</td>
      <td>1.400000e+09</td>
      <td>1.673333e+09</td>
      <td>1.373333e+09</td>
      <td>1.408889e+09</td>
      <td>...</td>
      <td>7.057598e+09</td>
      <td>9.843842e+09</td>
      <td>1.019053e+10</td>
      <td>1.248694e+10</td>
      <td>1.593680e+10</td>
      <td>1.793024e+10</td>
      <td>2.053654e+10</td>
      <td>2.004633e+10</td>
      <td>2.005019e+10</td>
      <td>1.919944e+10</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Albania</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2.992547e+06</td>
      <td>2.970017e+06</td>
      <td>2.947314e+06</td>
      <td>2.927519e+06</td>
      <td>2.913021e+06</td>
      <td>2.904780e+06</td>
      <td>2.900247e+06</td>
      <td>2.896652e+06</td>
      <td>2.893654e+06</td>
      <td>2.889167e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>8.992642e+09</td>
      <td>1.070101e+10</td>
      <td>1.288135e+10</td>
      <td>1.204421e+10</td>
      <td>1.192695e+10</td>
      <td>1.289087e+10</td>
      <td>1.231978e+10</td>
      <td>1.278103e+10</td>
      <td>1.327796e+10</td>
      <td>1.145560e+10</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Algeria</th>
      <th>Population</th>
      <td>1.112489e+07</td>
      <td>1.140486e+07</td>
      <td>1.169015e+07</td>
      <td>1.198513e+07</td>
      <td>1.229597e+07</td>
      <td>1.262695e+07</td>
      <td>1.298027e+07</td>
      <td>1.335420e+07</td>
      <td>1.374438e+07</td>
      <td>1.414444e+07</td>
      <td>...</td>
      <td>3.374933e+07</td>
      <td>3.426197e+07</td>
      <td>3.481106e+07</td>
      <td>3.540179e+07</td>
      <td>3.603616e+07</td>
      <td>3.671713e+07</td>
      <td>3.743943e+07</td>
      <td>3.818614e+07</td>
      <td>3.893433e+07</td>
      <td>3.966652e+07</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>2.723638e+09</td>
      <td>2.434767e+09</td>
      <td>2.001461e+09</td>
      <td>2.703004e+09</td>
      <td>2.909340e+09</td>
      <td>3.136284e+09</td>
      <td>3.039859e+09</td>
      <td>3.370870e+09</td>
      <td>3.852147e+09</td>
      <td>4.257253e+09</td>
      <td>...</td>
      <td>1.170273e+11</td>
      <td>1.349771e+11</td>
      <td>1.710007e+11</td>
      <td>1.372110e+11</td>
      <td>1.612073e+11</td>
      <td>2.000131e+11</td>
      <td>2.090474e+11</td>
      <td>2.097035e+11</td>
      <td>2.135185e+11</td>
      <td>1.668386e+11</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Andorra</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>8.337300e+04</td>
      <td>8.487800e+04</td>
      <td>8.561600e+04</td>
      <td>8.547400e+04</td>
      <td>8.441900e+04</td>
      <td>8.232600e+04</td>
      <td>7.931600e+04</td>
      <td>7.590200e+04</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3.536452e+09</td>
      <td>4.010785e+09</td>
      <td>4.001349e+09</td>
      <td>3.649863e+09</td>
      <td>3.346317e+09</td>
      <td>3.427236e+09</td>
      <td>3.146178e+09</td>
      <td>3.249101e+09</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Angola</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>1.854147e+07</td>
      <td>1.918391e+07</td>
      <td>1.984225e+07</td>
      <td>2.052010e+07</td>
      <td>2.121995e+07</td>
      <td>2.194230e+07</td>
      <td>2.268563e+07</td>
      <td>2.344820e+07</td>
      <td>2.422752e+07</td>
      <td>2.502197e+07</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>4.178948e+10</td>
      <td>6.044892e+10</td>
      <td>8.417803e+10</td>
      <td>7.549238e+10</td>
      <td>8.247091e+10</td>
      <td>1.041159e+11</td>
      <td>1.153984e+11</td>
      <td>1.249121e+11</td>
      <td>1.267751e+11</td>
      <td>1.026431e+11</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Antigua and Barbuda</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>8.346700e+04</td>
      <td>8.439700e+04</td>
      <td>8.535000e+04</td>
      <td>8.630000e+04</td>
      <td>8.723300e+04</td>
      <td>8.815200e+04</td>
      <td>8.906900e+04</td>
      <td>8.998500e+04</td>
      <td>9.090000e+04</td>
      <td>9.181800e+04</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>1.135144e+09</td>
      <td>1.289254e+09</td>
      <td>1.347350e+09</td>
      <td>1.206410e+09</td>
      <td>1.135539e+09</td>
      <td>1.129918e+09</td>
      <td>1.204713e+09</td>
      <td>1.200588e+09</td>
      <td>1.220976e+09</td>
      <td>1.297285e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Arab World</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.155571e+08</td>
      <td>1.188239e+08</td>
      <td>...</td>
      <td>3.209067e+08</td>
      <td>3.287666e+08</td>
      <td>3.368865e+08</td>
      <td>3.450542e+08</td>
      <td>3.531122e+08</td>
      <td>3.610318e+08</td>
      <td>3.688026e+08</td>
      <td>3.765043e+08</td>
      <td>3.842226e+08</td>
      <td>3.920223e+08</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.552596e+10</td>
      <td>2.817577e+10</td>
      <td>...</td>
      <td>1.404190e+12</td>
      <td>1.641666e+12</td>
      <td>2.081343e+12</td>
      <td>1.798878e+12</td>
      <td>2.103825e+12</td>
      <td>2.497945e+12</td>
      <td>2.773270e+12</td>
      <td>2.846994e+12</td>
      <td>2.873600e+12</td>
      <td>2.530102e+12</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Argentina</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.128768e+07</td>
      <td>2.162184e+07</td>
      <td>2.195393e+07</td>
      <td>2.228339e+07</td>
      <td>2.260875e+07</td>
      <td>2.293220e+07</td>
      <td>2.326127e+07</td>
      <td>2.360599e+07</td>
      <td>...</td>
      <td>3.955875e+07</td>
      <td>3.996990e+07</td>
      <td>4.038186e+07</td>
      <td>4.079864e+07</td>
      <td>4.122288e+07</td>
      <td>4.165562e+07</td>
      <td>4.209522e+07</td>
      <td>4.253830e+07</td>
      <td>4.298003e+07</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.445060e+10</td>
      <td>1.827212e+10</td>
      <td>2.560525e+10</td>
      <td>2.834471e+10</td>
      <td>2.863047e+10</td>
      <td>2.425667e+10</td>
      <td>2.643686e+10</td>
      <td>3.125628e+10</td>
      <td>...</td>
      <td>2.626665e+11</td>
      <td>3.293175e+11</td>
      <td>4.037820e+11</td>
      <td>3.766279e+11</td>
      <td>4.616402e+11</td>
      <td>5.578902e+11</td>
      <td>6.043785e+11</td>
      <td>6.239320e+11</td>
      <td>5.480549e+11</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Armenia</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3.002161e+06</td>
      <td>2.988117e+06</td>
      <td>2.975029e+06</td>
      <td>2.966108e+06</td>
      <td>2.963496e+06</td>
      <td>2.967984e+06</td>
      <td>2.978339e+06</td>
      <td>2.992192e+06</td>
      <td>3.006154e+06</td>
      <td>3.017712e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>6.384452e+09</td>
      <td>9.206302e+09</td>
      <td>1.166204e+10</td>
      <td>8.647937e+09</td>
      <td>9.260285e+09</td>
      <td>1.014211e+10</td>
      <td>1.061932e+10</td>
      <td>1.112147e+10</td>
      <td>1.164444e+10</td>
      <td>1.056140e+10</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Aruba</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>1.008300e+05</td>
      <td>1.012180e+05</td>
      <td>1.013420e+05</td>
      <td>1.014160e+05</td>
      <td>1.015970e+05</td>
      <td>1.019360e+05</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2.421475e+09</td>
      <td>2.623726e+09</td>
      <td>2.791961e+09</td>
      <td>2.498933e+09</td>
      <td>2.467704e+09</td>
      <td>2.584464e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Australia</th>
      <th>Population</th>
      <td>1.027648e+07</td>
      <td>1.048300e+07</td>
      <td>1.074200e+07</td>
      <td>1.095000e+07</td>
      <td>1.116700e+07</td>
      <td>1.138800e+07</td>
      <td>1.165100e+07</td>
      <td>1.179900e+07</td>
      <td>1.200900e+07</td>
      <td>1.226300e+07</td>
      <td>...</td>
      <td>2.069790e+07</td>
      <td>2.082760e+07</td>
      <td>2.124920e+07</td>
      <td>2.169170e+07</td>
      <td>2.203175e+07</td>
      <td>2.234002e+07</td>
      <td>2.272825e+07</td>
      <td>2.311735e+07</td>
      <td>2.346409e+07</td>
      <td>2.378117e+07</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.856759e+10</td>
      <td>1.963938e+10</td>
      <td>1.988353e+10</td>
      <td>2.149737e+10</td>
      <td>2.375406e+10</td>
      <td>2.592564e+10</td>
      <td>2.725053e+10</td>
      <td>3.037854e+10</td>
      <td>3.264195e+10</td>
      <td>3.660656e+10</td>
      <td>...</td>
      <td>7.468808e+11</td>
      <td>8.530533e+11</td>
      <td>1.054558e+12</td>
      <td>9.265638e+11</td>
      <td>1.142251e+12</td>
      <td>1.389919e+12</td>
      <td>1.537478e+12</td>
      <td>1.563951e+12</td>
      <td>1.454675e+12</td>
      <td>1.339539e+12</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Austria</th>
      <th>Population</th>
      <td>7.047539e+06</td>
      <td>7.086299e+06</td>
      <td>7.129864e+06</td>
      <td>7.175811e+06</td>
      <td>7.223801e+06</td>
      <td>7.270889e+06</td>
      <td>7.322066e+06</td>
      <td>7.376998e+06</td>
      <td>7.415403e+06</td>
      <td>7.441055e+06</td>
      <td>...</td>
      <td>8.268641e+06</td>
      <td>8.295487e+06</td>
      <td>8.321496e+06</td>
      <td>8.343323e+06</td>
      <td>8.363404e+06</td>
      <td>8.391643e+06</td>
      <td>8.429991e+06</td>
      <td>8.479375e+06</td>
      <td>8.541575e+06</td>
      <td>8.611088e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>6.592694e+09</td>
      <td>7.311750e+09</td>
      <td>7.756110e+09</td>
      <td>8.374175e+09</td>
      <td>9.169984e+09</td>
      <td>9.994071e+09</td>
      <td>1.088768e+10</td>
      <td>1.157943e+10</td>
      <td>1.244063e+10</td>
      <td>1.358280e+10</td>
      <td>...</td>
      <td>3.343094e+11</td>
      <td>3.864590e+11</td>
      <td>4.276115e+11</td>
      <td>3.975943e+11</td>
      <td>3.902351e+11</td>
      <td>4.290107e+11</td>
      <td>4.073730e+11</td>
      <td>4.286986e+11</td>
      <td>4.368875e+11</td>
      <td>3.740559e+11</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Azerbaijan</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>8.484550e+06</td>
      <td>8.581300e+06</td>
      <td>8.763400e+06</td>
      <td>8.947243e+06</td>
      <td>9.054332e+06</td>
      <td>9.173082e+06</td>
      <td>9.295784e+06</td>
      <td>9.416801e+06</td>
      <td>9.535079e+06</td>
      <td>9.651349e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2.098302e+10</td>
      <td>3.305034e+10</td>
      <td>4.885248e+10</td>
      <td>4.429149e+10</td>
      <td>5.290270e+10</td>
      <td>6.595163e+10</td>
      <td>6.873091e+10</td>
      <td>7.356048e+10</td>
      <td>7.519801e+10</td>
      <td>5.304714e+10</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Bahamas, The</th>
      <th>Population</th>
      <td>1.095260e+05</td>
      <td>1.151080e+05</td>
      <td>1.210830e+05</td>
      <td>1.273310e+05</td>
      <td>1.336970e+05</td>
      <td>1.400490e+05</td>
      <td>1.463640e+05</td>
      <td>1.526070e+05</td>
      <td>1.586290e+05</td>
      <td>1.642500e+05</td>
      <td>...</td>
      <td>3.358010e+05</td>
      <td>3.422590e+05</td>
      <td>3.485870e+05</td>
      <td>3.547800e+05</td>
      <td>3.608300e+05</td>
      <td>3.667110e+05</td>
      <td>3.723880e+05</td>
      <td>3.778410e+05</td>
      <td>3.830540e+05</td>
      <td>3.880190e+05</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.698023e+08</td>
      <td>1.900962e+08</td>
      <td>2.122528e+08</td>
      <td>2.377428e+08</td>
      <td>2.666641e+08</td>
      <td>3.003922e+08</td>
      <td>3.400000e+08</td>
      <td>3.901961e+08</td>
      <td>4.449020e+08</td>
      <td>5.281373e+08</td>
      <td>...</td>
      <td>7.965588e+09</td>
      <td>8.318996e+09</td>
      <td>8.246650e+09</td>
      <td>7.820420e+09</td>
      <td>7.909580e+09</td>
      <td>7.889750e+09</td>
      <td>8.234470e+09</td>
      <td>8.431750e+09</td>
      <td>8.510500e+09</td>
      <td>8.884441e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Bahrain</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>9.408080e+05</td>
      <td>1.026568e+06</td>
      <td>1.115777e+06</td>
      <td>1.196774e+06</td>
      <td>1.261319e+06</td>
      <td>1.306014e+06</td>
      <td>1.333577e+06</td>
      <td>1.349427e+06</td>
      <td>1.361930e+06</td>
      <td>1.377237e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>1.850505e+10</td>
      <td>2.173000e+10</td>
      <td>2.571088e+10</td>
      <td>2.293822e+10</td>
      <td>2.571327e+10</td>
      <td>2.904407e+10</td>
      <td>3.075646e+10</td>
      <td>3.289761e+10</td>
      <td>3.385106e+10</td>
      <td>3.222149e+10</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">United Arab Emirates</th>
      <th>Population</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>5.171255e+06</td>
      <td>6.010100e+06</td>
      <td>6.900142e+06</td>
      <td>7.705423e+06</td>
      <td>8.329453e+06</td>
      <td>8.734722e+06</td>
      <td>8.952542e+06</td>
      <td>9.039978e+06</td>
      <td>9.086139e+06</td>
      <td>9.156963e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>

In [19]:
s.unstack("country")

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country</th>
      <th>Afghanistan</th>
      <th>Albania</th>
      <th>Algeria</th>
      <th>Andorra</th>
      <th>Angola</th>
      <th>Antigua and Barbuda</th>
      <th>Arab World</th>
      <th>Argentina</th>
      <th>Armenia</th>
      <th>Aruba</th>
      <th>...</th>
      <th>Uzbekistan</th>
      <th>Vanuatu</th>
      <th>Venezuela, RB</th>
      <th>Vietnam</th>
      <th>Virgin Islands (U.S.)</th>
      <th>West Bank and Gaza</th>
      <th>World</th>
      <th>Yemen, Rep.</th>
      <th>Zambia</th>
      <th>Zimbabwe</th>
    </tr>
    <tr>
      <th>year</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">1960</th>
      <th>Population</th>
      <td>8.994793e+06</td>
      <td>NaN</td>
      <td>1.112489e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8.146845e+06</td>
      <td>NaN</td>
      <td>32000.0</td>
      <td>NaN</td>
      <td>3.035056e+09</td>
      <td>NaN</td>
      <td>3.049586e+06</td>
      <td>3.752390e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>5.377778e+08</td>
      <td>NaN</td>
      <td>2.723638e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8.607600e+09</td>
      <td>NaN</td>
      <td>24200000.0</td>
      <td>NaN</td>
      <td>1.364643e+12</td>
      <td>NaN</td>
      <td>6.987397e+08</td>
      <td>1.052990e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1961</th>
      <th>Population</th>
      <td>9.164945e+06</td>
      <td>NaN</td>
      <td>1.140486e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8.461684e+06</td>
      <td>NaN</td>
      <td>34100.0</td>
      <td>NaN</td>
      <td>3.076121e+09</td>
      <td>NaN</td>
      <td>3.142848e+06</td>
      <td>3.876638e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>5.488889e+08</td>
      <td>NaN</td>
      <td>2.434767e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8.923367e+09</td>
      <td>NaN</td>
      <td>25700000.0</td>
      <td>NaN</td>
      <td>1.420440e+12</td>
      <td>NaN</td>
      <td>6.823597e+08</td>
      <td>1.096647e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1962</th>
      <th>Population</th>
      <td>9.343772e+06</td>
      <td>NaN</td>
      <td>1.169015e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.128768e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8.790590e+06</td>
      <td>NaN</td>
      <td>36300.0</td>
      <td>NaN</td>
      <td>3.129064e+09</td>
      <td>NaN</td>
      <td>3.240664e+06</td>
      <td>4.006262e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>5.466667e+08</td>
      <td>NaN</td>
      <td>2.001461e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.445060e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.873398e+09</td>
      <td>NaN</td>
      <td>36900000.0</td>
      <td>NaN</td>
      <td>1.524573e+12</td>
      <td>NaN</td>
      <td>6.792797e+08</td>
      <td>1.117602e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1963</th>
      <th>Population</th>
      <td>9.531555e+06</td>
      <td>NaN</td>
      <td>1.198513e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.162184e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.130346e+06</td>
      <td>NaN</td>
      <td>38700.0</td>
      <td>NaN</td>
      <td>3.193947e+09</td>
      <td>NaN</td>
      <td>3.342894e+06</td>
      <td>4.140804e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>7.511112e+08</td>
      <td>NaN</td>
      <td>2.703004e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.827212e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.066338e+10</td>
      <td>NaN</td>
      <td>41400000.0</td>
      <td>NaN</td>
      <td>1.638187e+12</td>
      <td>NaN</td>
      <td>7.043397e+08</td>
      <td>1.159512e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1964</th>
      <th>Population</th>
      <td>9.728645e+06</td>
      <td>NaN</td>
      <td>1.229597e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.195393e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.476255e+06</td>
      <td>NaN</td>
      <td>41300.0</td>
      <td>NaN</td>
      <td>3.259355e+09</td>
      <td>NaN</td>
      <td>3.449266e+06</td>
      <td>4.279561e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>8.000000e+08</td>
      <td>NaN</td>
      <td>2.909340e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.560525e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.113581e+09</td>
      <td>NaN</td>
      <td>53800000.0</td>
      <td>NaN</td>
      <td>1.799675e+12</td>
      <td>NaN</td>
      <td>8.226397e+08</td>
      <td>1.217138e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1965</th>
      <th>Population</th>
      <td>9.935358e+06</td>
      <td>NaN</td>
      <td>1.262695e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.228339e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.824694e+06</td>
      <td>NaN</td>
      <td>44000.0</td>
      <td>NaN</td>
      <td>3.326054e+09</td>
      <td>NaN</td>
      <td>3.559687e+06</td>
      <td>4.422132e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.006667e+09</td>
      <td>NaN</td>
      <td>3.136284e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.834471e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9.602945e+09</td>
      <td>NaN</td>
      <td>66500000.0</td>
      <td>NaN</td>
      <td>1.959900e+12</td>
      <td>NaN</td>
      <td>1.061200e+09</td>
      <td>1.311436e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1966</th>
      <th>Population</th>
      <td>1.014884e+07</td>
      <td>NaN</td>
      <td>1.298027e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.260875e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.017514e+07</td>
      <td>NaN</td>
      <td>47300.0</td>
      <td>NaN</td>
      <td>3.395866e+09</td>
      <td>NaN</td>
      <td>3.674088e+06</td>
      <td>4.568320e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.400000e+09</td>
      <td>NaN</td>
      <td>3.039859e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.863047e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.009657e+10</td>
      <td>NaN</td>
      <td>84100000.0</td>
      <td>NaN</td>
      <td>2.125397e+12</td>
      <td>NaN</td>
      <td>1.239000e+09</td>
      <td>1.281750e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1967</th>
      <th>Population</th>
      <td>1.036860e+07</td>
      <td>NaN</td>
      <td>1.335420e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.293220e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.052805e+07</td>
      <td>NaN</td>
      <td>50800.0</td>
      <td>NaN</td>
      <td>3.465297e+09</td>
      <td>NaN</td>
      <td>3.792864e+06</td>
      <td>4.718612e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.673333e+09</td>
      <td>NaN</td>
      <td>3.370870e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.425667e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.047278e+10</td>
      <td>NaN</td>
      <td>115400000.0</td>
      <td>NaN</td>
      <td>2.262923e+12</td>
      <td>NaN</td>
      <td>1.340639e+09</td>
      <td>1.397002e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1968</th>
      <th>Population</th>
      <td>1.059979e+07</td>
      <td>NaN</td>
      <td>1.374438e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.155571e+08</td>
      <td>2.326127e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.088200e+07</td>
      <td>NaN</td>
      <td>54600.0</td>
      <td>NaN</td>
      <td>3.535512e+09</td>
      <td>NaN</td>
      <td>3.916928e+06</td>
      <td>4.874113e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.373333e+09</td>
      <td>NaN</td>
      <td>3.852147e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.552596e+10</td>
      <td>2.643686e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.147091e+10</td>
      <td>NaN</td>
      <td>173800000.0</td>
      <td>NaN</td>
      <td>2.440549e+12</td>
      <td>NaN</td>
      <td>1.573739e+09</td>
      <td>1.479600e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1969</th>
      <th>Population</th>
      <td>1.084951e+07</td>
      <td>NaN</td>
      <td>1.414444e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.188239e+08</td>
      <td>2.360599e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.123549e+07</td>
      <td>NaN</td>
      <td>58600.0</td>
      <td>NaN</td>
      <td>3.609910e+09</td>
      <td>NaN</td>
      <td>4.047479e+06</td>
      <td>5.036321e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.408889e+09</td>
      <td>NaN</td>
      <td>4.257253e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.817577e+10</td>
      <td>3.125628e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.192757e+10</td>
      <td>NaN</td>
      <td>211300000.0</td>
      <td>NaN</td>
      <td>2.686747e+12</td>
      <td>NaN</td>
      <td>1.926399e+09</td>
      <td>1.747999e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1970</th>
      <th>Population</th>
      <td>1.112110e+07</td>
      <td>NaN</td>
      <td>1.455003e+07</td>
      <td>2.427900e+04</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.221282e+08</td>
      <td>2.397306e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.158776e+07</td>
      <td>NaN</td>
      <td>63000.0</td>
      <td>NaN</td>
      <td>3.684997e+09</td>
      <td>NaN</td>
      <td>4.185378e+06</td>
      <td>5.206311e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.748887e+09</td>
      <td>NaN</td>
      <td>4.863488e+09</td>
      <td>7.861762e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3.109149e+10</td>
      <td>3.158421e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.299312e+10</td>
      <td>NaN</td>
      <td>219000000.0</td>
      <td>NaN</td>
      <td>2.950656e+12</td>
      <td>NaN</td>
      <td>1.788779e+09</td>
      <td>1.884206e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1971</th>
      <th>Population</th>
      <td>1.141282e+07</td>
      <td>NaN</td>
      <td>1.496011e+07</td>
      <td>2.556000e+04</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.254391e+08</td>
      <td>2.436644e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.193780e+07</td>
      <td>NaN</td>
      <td>71000.0</td>
      <td>NaN</td>
      <td>3.762290e+09</td>
      <td>NaN</td>
      <td>4.331002e+06</td>
      <td>5.385342e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.831109e+09</td>
      <td>NaN</td>
      <td>5.077222e+09</td>
      <td>8.940659e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3.610721e+10</td>
      <td>3.329320e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.447156e+10</td>
      <td>NaN</td>
      <td>257000000.0</td>
      <td>NaN</td>
      <td>3.259057e+12</td>
      <td>NaN</td>
      <td>1.653259e+09</td>
      <td>2.178716e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1972</th>
      <th>Population</th>
      <td>1.171690e+07</td>
      <td>NaN</td>
      <td>1.537710e+07</td>
      <td>2.689200e+04</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.288012e+08</td>
      <td>2.478295e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.228643e+07</td>
      <td>NaN</td>
      <td>76000.0</td>
      <td>NaN</td>
      <td>3.839016e+09</td>
      <td>NaN</td>
      <td>4.484141e+06</td>
      <td>5.573312e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.595555e+09</td>
      <td>NaN</td>
      <td>6.761786e+09</td>
      <td>1.134144e+08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>4.296931e+10</td>
      <td>3.473300e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.592287e+10</td>
      <td>NaN</td>
      <td>307100000.0</td>
      <td>NaN</td>
      <td>3.757853e+12</td>
      <td>NaN</td>
      <td>1.872417e+09</td>
      <td>2.677729e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1973</th>
      <th>Population</th>
      <td>1.202251e+07</td>
      <td>NaN</td>
      <td>1.580443e+07</td>
      <td>2.823100e+04</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.322990e+08</td>
      <td>2.521339e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.263697e+07</td>
      <td>NaN</td>
      <td>84000.0</td>
      <td>NaN</td>
      <td>3.914800e+09</td>
      <td>NaN</td>
      <td>4.644329e+06</td>
      <td>5.768382e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>1.733333e+09</td>
      <td>NaN</td>
      <td>8.715106e+09</td>
      <td>1.508416e+08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>5.459015e+10</td>
      <td>5.254400e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.944593e+10</td>
      <td>NaN</td>
      <td>351600000.0</td>
      <td>NaN</td>
      <td>4.578523e+12</td>
      <td>NaN</td>
      <td>2.434255e+09</td>
      <td>3.309354e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1974</th>
      <th>Population</th>
      <td>1.231555e+07</td>
      <td>NaN</td>
      <td>1.624711e+07</td>
      <td>2.951400e+04</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.360445e+08</td>
      <td>2.564450e+07</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.299402e+07</td>
      <td>NaN</td>
      <td>90000.0</td>
      <td>NaN</td>
      <td>3.991194e+09</td>
      <td>NaN</td>
      <td>4.810810e+06</td>
      <td>5.967861e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>2.155555e+09</td>
      <td>NaN</td>
      <td>1.320971e+10</td>
      <td>1.865572e+08</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.046016e+11</td>
      <td>7.243678e+10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.908710e+10</td>
      <td>NaN</td>
      <td>395400000.0</td>
      <td>NaN</td>
      <td>5.279355e+12</td>
      <td>NaN</td>
      <td>2.910981e+09</td>
      <td>3.982161e+09</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2001</th>
      <th>Population</th>
      <td>2.053116e+07</td>
      <td>3.060173e+06</td>
      <td>3.159032e+07</td>
      <td>6.777000e+04</td>
      <td>1.556279e+07</td>
      <td>7.897200e+04</td>
      <td>2.872918e+08</td>
      <td>3.747154e+07</td>
      <td>3.060036e+06</td>
      <td>9.289400e+04</td>
      <td>...</td>
      <td>2.496445e+07</td>
      <td>1.892880e+05</td>
      <td>2.494022e+07</td>
      <td>7.862050e+07</td>
      <td>NaN</td>
      <td>2.997784e+06</td>
      <td>6.195590e+09</td>
      <td>1.830629e+07</td>
      <td>1.086124e+07</td>
      <td>1.260399e+07</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>2.461666e+09</td>
      <td>4.060759e+09</td>
      <td>5.474471e+10</td>
      <td>1.484005e+09</td>
      <td>8.936064e+09</td>
      <td>7.737652e+08</td>
      <td>7.221506e+11</td>
      <td>2.686968e+11</td>
      <td>2.118468e+09</td>
      <td>1.920263e+09</td>
      <td>...</td>
      <td>1.140135e+10</td>
      <td>2.579269e+08</td>
      <td>1.229097e+11</td>
      <td>3.529135e+10</td>
      <td>NaN</td>
      <td>4.003700e+09</td>
      <td>3.313421e+13</td>
      <td>9.854042e+09</td>
      <td>4.094481e+09</td>
      <td>6.777385e+09</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2002</th>
      <th>Population</th>
      <td>2.148708e+07</td>
      <td>3.051010e+06</td>
      <td>3.199039e+07</td>
      <td>7.104600e+04</td>
      <td>1.610970e+07</td>
      <td>8.003000e+04</td>
      <td>2.934026e+08</td>
      <td>3.788944e+07</td>
      <td>3.047249e+06</td>
      <td>9.499500e+04</td>
      <td>...</td>
      <td>2.527185e+07</td>
      <td>1.939570e+05</td>
      <td>2.539914e+07</td>
      <td>7.953770e+07</td>
      <td>NaN</td>
      <td>3.075373e+06</td>
      <td>6.274734e+09</td>
      <td>1.883210e+07</td>
      <td>1.113998e+07</td>
      <td>1.269143e+07</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>4.128818e+09</td>
      <td>4.435079e+09</td>
      <td>5.676029e+10</td>
      <td>1.717564e+09</td>
      <td>1.249735e+10</td>

In [20]:
world = pd.read_csv("worldstats.csv", index_col=["country", "year"])
s= world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [21]:
s.unstack(level=[1,0])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>year</th>
      <th>2015</th>
      <th>2014</th>
      <th>2013</th>
      <th>2012</th>
      <th>2011</th>
      <th>2010</th>
      <th>2009</th>
      <th>2008</th>
      <th>2007</th>
      <th>2006</th>
      <th>...</th>
      <th>1969</th>
      <th>1968</th>
      <th>1967</th>
      <th>1966</th>
      <th>1965</th>
      <th>1964</th>
      <th>1963</th>
      <th>1962</th>
      <th>1961</th>
      <th>1960</th>
    </tr>
    <tr>
      <th>country</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>Arab World</th>
      <th>...</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
      <th>Zimbabwe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Population</th>
      <td>3.920223e+08</td>
      <td>3.842226e+08</td>
      <td>3.765043e+08</td>
      <td>3.688026e+08</td>
      <td>3.610318e+08</td>
      <td>3.531122e+08</td>
      <td>3.450542e+08</td>
      <td>3.368865e+08</td>
      <td>3.287666e+08</td>
      <td>3.209067e+08</td>
      <td>...</td>
      <td>5.036321e+06</td>
      <td>4.874113e+06</td>
      <td>4.718612e+06</td>
      <td>4.568320e+06</td>
      <td>4.422132e+06</td>
      <td>4.279561e+06</td>
      <td>4.140804e+06</td>
      <td>4.006262e+06</td>
      <td>3.876638e+06</td>
      <td>3.752390e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>2.530102e+12</td>
      <td>2.873600e+12</td>
      <td>2.846994e+12</td>
      <td>2.773270e+12</td>
      <td>2.497945e+12</td>
      <td>2.103825e+12</td>
      <td>1.798878e+12</td>
      <td>2.081343e+12</td>
      <td>1.641666e+12</td>
      <td>1.404190e+12</td>
      <td>...</td>
      <td>1.747999e+09</td>
      <td>1.479600e+09</td>
      <td>1.397002e+09</td>
      <td>1.281750e+09</td>
      <td>1.311436e+09</td>
      <td>1.217138e+09</td>
      <td>1.159512e+09</td>
      <td>1.117602e+09</td>
      <td>1.096647e+09</td>
      <td>1.052990e+09</td>
    </tr>
  </tbody>
</table>
<p>2 rows × 11211 columns</p>
</div>

In [22]:
s.unstack(level=["country","year"])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>country</th>
      <th colspan="10" halign="left">Arab World</th>
      <th>...</th>
      <th colspan="10" halign="left">Zimbabwe</th>
    </tr>
    <tr>
      <th>year</th>
      <th>2015</th>
      <th>2014</th>
      <th>2013</th>
      <th>2012</th>
      <th>2011</th>
      <th>2010</th>
      <th>2009</th>
      <th>2008</th>
      <th>2007</th>
      <th>2006</th>
      <th>...</th>
      <th>1969</th>
      <th>1968</th>
      <th>1967</th>
      <th>1966</th>
      <th>1965</th>
      <th>1964</th>
      <th>1963</th>
      <th>1962</th>
      <th>1961</th>
      <th>1960</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Population</th>
      <td>3.920223e+08</td>
      <td>3.842226e+08</td>
      <td>3.765043e+08</td>
      <td>3.688026e+08</td>
      <td>3.610318e+08</td>
      <td>3.531122e+08</td>
      <td>3.450542e+08</td>
      <td>3.368865e+08</td>
      <td>3.287666e+08</td>
      <td>3.209067e+08</td>
      <td>...</td>
      <td>5.036321e+06</td>
      <td>4.874113e+06</td>
      <td>4.718612e+06</td>
      <td>4.568320e+06</td>
      <td>4.422132e+06</td>
      <td>4.279561e+06</td>
      <td>4.140804e+06</td>
      <td>4.006262e+06</td>
      <td>3.876638e+06</td>
      <td>3.752390e+06</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>2.530102e+12</td>
      <td>2.873600e+12</td>
      <td>2.846994e+12</td>
      <td>2.773270e+12</td>
      <td>2.497945e+12</td>
      <td>2.103825e+12</td>
      <td>1.798878e+12</td>
      <td>2.081343e+12</td>
      <td>1.641666e+12</td>
      <td>1.404190e+12</td>
      <td>...</td>
      <td>1.747999e+09</td>
      <td>1.479600e+09</td>
      <td>1.397002e+09</td>
      <td>1.281750e+09</td>
      <td>1.311436e+09</td>
      <td>1.217138e+09</td>
      <td>1.159512e+09</td>
      <td>1.117602e+09</td>
      <td>1.096647e+09</td>
      <td>1.052990e+09</td>
    </tr>
  </tbody>
</table>
<p>2 rows × 11211 columns</p>
</div>

In [23]:
s = s.unstack("year", fill_value=0)
s.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>year</th>
      <th>1960</th>
      <th>1961</th>
      <th>1962</th>
      <th>1963</th>
      <th>1964</th>
      <th>1965</th>
      <th>1966</th>
      <th>1967</th>
      <th>1968</th>
      <th>1969</th>
      <th>...</th>
      <th>2006</th>
      <th>2007</th>
      <th>2008</th>
      <th>2009</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
    </tr>
    <tr>
      <th>country</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">Afghanistan</th>
      <th>Population</th>
      <td>8.994793e+06</td>
      <td>9.164945e+06</td>
      <td>9.343772e+06</td>
      <td>9.531555e+06</td>
      <td>9.728645e+06</td>
      <td>9.935358e+06</td>
      <td>1.014884e+07</td>
      <td>1.036860e+07</td>
      <td>1.059979e+07</td>
      <td>1.084951e+07</td>
      <td>...</td>
      <td>2.518362e+07</td>
      <td>2.587754e+07</td>
      <td>2.652874e+07</td>
      <td>2.720729e+07</td>
      <td>2.796221e+07</td>
      <td>2.880917e+07</td>
      <td>2.972680e+07</td>
      <td>3.068250e+07</td>
      <td>3.162751e+07</td>
      <td>3.252656e+07</td>
    </tr>
    <tr>
      <th>GDP</th>
      <td>5.377778e+08</td>
      <td>5.488889e+08</td>
      <td>5.466667e+08</td>
      <td>7.511112e+08</td>
      <td>8.000000e+08</td>
      <td>1.006667e+09</td>
      <td>1.400000e+09</td>
      <td>1.673333e+09</td>
      <td>1.373333e+09</td>
      <td>1.408889e+09</td>
      <td>...</td>
      <td>7.057598e+09</td>
      <td>9.843842e+09</td>
      <td>1.019053e+10</td>
      <td>1.248694e+10</td>
      <td>1.593680e+10</td>
      <td>1.793024e+10</td>
      <td>2.053654e+10</td>
      <td>2.004633e+10</td>
      <td>2.005019e+10</td>
      <td>1.919944e+10</td>
    </tr>
    <tr>
      <th>Albania</th>
      <th>Population</th>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>...</td>
      <td>2.992547e+06</td>
      <td>2.970017e+06</td>
      <td>2.947314e+06</td>
      <td>2.927519e+06</td>
      <td>2.913021e+06</td>
      <td>2.904780e+06</td>
      <td>2.900247e+06</td>
      <td>2.896652e+06</td>
      <td>2.893654e+06</td>
      <td>2.889167e+06</td>
    </tr>
  </tbody>
</table>
<p>3 rows × 56 columns</p>
</div>

# .pivot() method

In [24]:
sales = pd.read_csv("salesmen.csv", parse_dates=["Date"])
sales["Salesman"] = sales["Salesman"].astype("category")
sales.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Salesman</th>
      <th>Revenue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-01-01</td>
      <td>Bob</td>
      <td>7172</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-01-02</td>
      <td>Bob</td>
      <td>6362</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-01-03</td>
      <td>Bob</td>
      <td>5982</td>
    </tr>
  </tbody>
</table>
</div>

In [101]:
sales = sales.pivot(index="Date", columns="Salesman", values="Revenue")
sales.head(3)

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703

# pivot_table() method

In [25]:
foods = pd.read_csv("foods.csv")
foods.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>First Name</th>
      <th>Gender</th>
      <th>City</th>
      <th>Frequency</th>
      <th>Item</th>
      <th>Spend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Wanda</td>
      <td>Female</td>
      <td>Stamford</td>
      <td>Weekly</td>
      <td>Burger</td>
      <td>15.66</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Eric</td>
      <td>Male</td>
      <td>Stamford</td>
      <td>Daily</td>
      <td>Chalupa</td>
      <td>10.56</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Charles</td>
      <td>Male</td>
      <td>New York</td>
      <td>Never</td>
      <td>Sushi</td>
      <td>42.14</td>
    </tr>
  </tbody>
</table>
</div>

In [110]:
foods.pivot_table(values="Spend", index=["Gender", "Item"], columns="City", aggfunc="sum")

City              New York  Philadelphia  Stamford
Gender Item
Female Burger      1239.04       1639.24   1216.02
       Burrito      978.95       1458.76   1820.11
       Chalupa      876.58       1673.33   1602.35
       Donut       1446.78       1639.26   1656.96
       Ice Cream   1521.62       1479.22   1032.03
       Sushi       1480.29       1742.88   1459.91
Male   Burger      1294.09        938.18   1439.16
       Burrito     1399.40       1312.93   1300.29
       Chalupa     1227.77       1114.23   1150.26
       Donut       1345.27       1249.36   1421.13
       Ice Cream   1603.63       2191.27   1059.22
       Sushi       1396.15       1395.88   1267.82

# pd.melt() method

In [26]:
sales = pd.read_csv("quarters.csv")
sales.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Salesman</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Boris</td>
      <td>602908</td>
      <td>233879</td>
      <td>354479</td>
      <td>32704</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Bob</td>
      <td>43790</td>
      <td>514863</td>
      <td>297151</td>
      <td>544493</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Tommy</td>
      <td>392668</td>
      <td>113579</td>
      <td>430882</td>
      <td>247231</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Travis</td>
      <td>834663</td>
      <td>266785</td>
      <td>749238</td>
      <td>570524</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Donald</td>
      <td>580935</td>
      <td>411379</td>
      <td>110390</td>
      <td>651572</td>
    </tr>
  </tbody>
</table>
</div>

In [115]:
pd.melt(sales, id_vars="Salesman", var_name="Quarter", value_name="Revenue")

   Salesman Quarter  Revenue
0     Boris      Q1   602908
1       Bob      Q1    43790
2     Tommy      Q1   392668
3    Travis      Q1   834663
4    Donald      Q1   580935
5       Ted      Q1   656644
6       Jeb      Q1   486141
7     Stacy      Q1   479662
8    Morgan      Q1   992673
9     Boris      Q2   233879
10      Bob      Q2   514863
11    Tommy      Q2   113579
12   Travis      Q2   266785
13   Donald      Q2   411379
14      Ted      Q2    70803
15      Jeb      Q2   600753
16    Stacy      Q2   742806
17   Morgan      Q2   879183
18    Boris      Q3   354479
19      Bob      Q3   297151
20    Tommy      Q3   430882
21   Travis      Q3   749238
22   Donald      Q3   110390
23      Ted      Q3   375948
24      Jeb      Q3   742716
25    Stacy      Q3   770712
26   Morgan      Q3    37945
27    Boris      Q4    32704
28      Bob      Q4   544493
29    Tommy      Q4   247231
30   Travis      Q4   570524
31   Donald      Q4   651572
32      Ted      Q4   321388
33      Jeb      Q4   404995
34    Stacy      Q4     2501
35   Morgan      Q4   293710